.dashboardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--content-padding);
  align-items: flex-start;
  padding: var(--content-padding);
}

.gridBox {
  background-color: var(--color-bg-secondary);
  padding: 1rem 20px;
  border-radius: var(--radius-md);
  display: inline-block;
  vertical-align: top;
  justify-self: start;
  flex: 0 0 auto;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.box > div > p {
  font-size: 0.8rem;
}

h1 {
  font-weight: 500;
}

.change {
  padding: 3px 10px;
  border-radius: var(--radius-lg);
  scale: 0.7;
}

.gcard {
  display: flex; /* horizontal layout */
  gap: 2rem; /* spacing between stats */
  align-items: center;
}

.gcard p {
  text-wrap: nowrap;
}

@media (max-width: 768px) {
  .dashboardContainer {
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* border: 2px solid green; */
  }
  .gcard,
  .gridBox {
    /* border: 2px solid red; */
  }

  .gcard {
    flex-direction: column;
  }
  .gridBox {
    width: 100%;
  }
}
