.settingsContainer {
  padding: var(--content-padding);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--content-padding);
}

.settingsListBox,
.settingBox {
  width: 100%;
  height: calc(100dvh - var(--header-height) - (2 * var(--content-padding)));
  border-radius: var(--radius-md);
}

.settingsListBox {
  width: 30%;
  border: 1px solid var(--color-bg-secondary);
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.settingBox {
  width: 70%;
}

.setting,
.active {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--content-padding);
  background-color: white;
  cursor: pointer;
}

.active {
  background-color: var(--color-bg);
}

.setting span {
  rotate: -90deg;
  scale: 1.2;
}

.settingBox,
.tcpContent {
  padding: var(--content-padding);
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--content-padding);
}
.tcpContent {
  width: 100%;
  height: 100dvh;
  padding: 0;
}

.tcpContent h1 {
  font-weight: normal;
}

.settingBox textarea {
  width: 100%;
  height: calc(90dvh - var(--header-height) - (4 * var(--content-padding)));
  background-color: transparent;
  border: none;
  outline: none;
}

.feedbackContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}

.feedbackHeader {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feedbackBox,
.feedbackContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: var(--content-padding);
  width: 100%;
}

.feedbackBox {
  gap: 2rem;
}

.feedbackItemHeader,
.feedbackGiver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
}

.feedbackItemHeader {
  margin-bottom: 2rem;
}

.feedbackGiver {
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-md);
  padding: var(--content-padding);
}

.feedback {
  width: 80%;
  background-color: var(--color-bg);
  padding: var(--content-padding);
  border-radius: var(--radius-ml);
  position: relative;
}

.feedbackGiver img {
  width: 30px;
  height: 30px;
  border-radius: var(--radius-full);
}

.time {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
}

.dropDown,
.backButton {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: var(--content-padding) calc(var(--content-padding) * 2);
  background-color: var(--color-bg);
  border-radius: var(--radius-xl);
}
.dropDown button,
.backButton button {
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-full);
  padding: 5px;
  display: grid;
}

.dropDown {
  position: relative;
}

.filterMenu {
  position: absolute;
  top: 100%;
  right: 5%;
  background-color: var(--color-bg-secondary);
  z-index: 100;
  padding: var(--content-padding);
  border-radius: var(--radius-md);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: var(--content-padding);
}

.filterMenu li {
  cursor: pointer;
}

.emptyRow {
  height: 20rem;
}

.reporterReportee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  gap: 1rem;
}

.resolveButton,
.showButton {
  padding: 5px var(--content-padding);
  background-color: var(--color-theme-red);
  border-radius: var(--radius-md);
  color: white;
}

.showButton {
  background-color: #ffecec;
  color: var(--color-theme-red);
}

.resolveBox {
  position: absolute;
  width: 250px;
  height: 350px;
  background-color: var(--color-bg);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-md);
  padding: var(--content-padding);
  z-index: 100;
  right: 0;
  top: 40%;
}

.resolveBox textarea {
  max-height: 240px;
  resize: none;
}

.buttonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--content-padding);
}

.buttonBox button {
  width: calc(100% - (2 * var(--content-padding)));
  text-align: center;
}

.buttonBox button:first-child {
  background-color: var(--color-theme-green);
}

.buttonBox button:last-child {
  background-color: var(--color-muted);
  color: white;
}

.resolvedTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
