.categoryContainer {
  padding: var(--content-padding);
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--content-padding);
  background-color: var(--color-bg-secondary);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
}
.searchBox,
.modalSearchBox {
  border: 3px solid var(--color-muted-1);
  border-radius: var(--radius-xl);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--content-padding);
}

.searchBox input,
.modalSearchBox input {
  border: none;
  outline: none;
}

.categoryHeader span {
  background-color: var(--color-bg);
  font-size: 0.7rem;
  padding: 5px 10px;
  border-radius: var(--radius-xl);
  font-weight: lighter;
}

.categoryColumns,
.categoryInputs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: var(--content-padding);
  padding-inline: 0;
  gap: var(--content-padding);
}

.column,
.inputColumn {
  min-width: 270px;
  background-color: var(--color-bg-secondary);
}

.inputColumn:last-child,
.column:last-child {
  width: 100%;
}

.items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.itemHeader {
  padding: calc(2 * var(--content-padding));
  text-align: center;
  width: 100%;
  font-size: 1.15rem;
  font-weight: light;
  margin-bottom: 2rem;
  background-color: white;
}

.itemItem,
.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--content-padding);
  background-color: white;
}

.itemItem p,
.active p {
  width: 50%;
  text-align: left;
}

.active {
  background-color: var(--color-bg);
}

.itemItem:last-child {
  margin-bottom: 1rem;
}

.itemItem button,
.active button {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);
  background-color: var(--color-bg);
  display: grid;
  place-content: center;
}

.active button {
  background-color: var(--color-bg-secondary);
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
}

.categoryInputs {
  background-color: var(--color-bg-secondary);
  /* padding: var(--content-padding); */
}

.inputColumn,
.dropdownButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--content-padding);
  padding: var(--content-padding);
}

.inputColumn {
  justify-content: flex-end;
}

.dropdownButton {
  flex-direction: row;
  justify-content: space-between;
  position: relative !important;
}

.dropdownButton,
.input,
.saveButton {
  width: 100%;
}

.saveButton {
  background-color: var(--color-theme-green);
  padding: var(--content-padding);
  text-align: center;
  margin-inline: var(--content-padding);
  width: calc(100% - 2 * var(--content-padding));
  border-radius: var(--radius-md);
}

.input,
.dropdownButton {
  border: none;
  outline: none;
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
}

.dropdownButton {
  border: none;
}

.dropdownModal {
  position: absolute;
  bottom: 25%;
  min-width: 300px;
  background-color: var(--color-bg-secondary);
  z-index: 100;
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);

  /* padding: var(--content-padding); */
}

.dropdownModal,
.dropdownModal ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.dropdownModal p {
  padding: var(--content-padding);
  background-color: white;
  text-align: center;
  width: 100%;
}

.dropdownModal ul {
  width: 100%;
  max-height: 50dvh;
}

.dropdownModal ul li {
  padding: var(--content-padding);
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.dropdownModal button {
  width: calc(100% - (4 * var(--content-padding)));
  background-color: var(--color-theme-green);
  padding: var(--content-padding);
  text-align: center;
  border-radius: var(--radius-md);
  margin-block: var(--content-padding);
}

.modalSearchBox {
  width: calc(100% - (2 * var(--content-padding)));
  gap: var(--content-padding);
  padding-inline: var(--content-padding);
}

.modalSearchBox input {
  width: 100%;
  padding-block: 5px;
}
