.sidebarContainer,
.links,
.logset,
.link,
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuButtonIcon {
  display: none;
}

.sidebarContainer {
  width: var(--sidebar-width);
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  position: fixed;
  left: 0;
  z-index: 10;
}

.links {
  margin-top: 25%;
  gap: 0px;
}

.links,
.logset {
  width: 100%;
}

.link,
.active {
  padding: 10px;
  scale: 0.8;
  width: 100%;
  border-radius: var(--radius-ml);
  /* gap: 0.2rem; */
  margin-bottom: -10px;
}

.link:last-child {
  margin-bottom: 3px;
}

.link p {
  font-size: 0.9rem;
}

.link:hover,
.active {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .sidebarContainer {
    position: fixed;
    opacity: 0;
    left: -100%;
    z-index: 200;
    width: calc(var(--sidebar-width) * 2.5);
    border-right: 1px solid var(--color-muted);
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }

  .sidebarContainer:not(.open):not(.close) {
    animation: none !important;
  }

  .open {
    animation: slideIn 0.5s ease forwards;
  }

  .close {
    animation: slideOut 0.5s ease forwards;
  }
  .links {
    margin-top: 13%;
  }

  .link,
  .active {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
  }

  @keyframes slideIn {
    from {
      left: -100%;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }
  @keyframes slideOut {
    from {
      opacity: 0;
      left: 0;
    }
    to {
      opacity: 0;
      left: -100%;
    }
  }

  .menuButtonIcon {
    display: block;
    width: 90%;
    margin-left: -0.8rem;
  }
}
