.ordersContainer {
  padding-bottom: 1rem;
}

.subscriptionTiers,
.lower {
  display: flex;
  gap: 1rem;
}

.subscriptionTiers {
  width: calc(100% + 2 * var(--content-padding));
  background-color: var(--color-bg-secondary);
  padding: var(--content-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

h2 {
  font-weight: 500;
}

.tiers {
  border: 1px solid var(--color-text);
  border-radius: var(--radius-ml);
  width: 100%;
  padding: var(--content-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.lower {
  padding: var(--content-padding);
  padding-right: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.dataCards {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  align-items: start;
  width: 100%;
}

.dataCards > .data:nth-child(1),
.dataCards > .data:nth-child(2) {
  grid-column: span 3;
}

.dataCards > .data:nth-child(n + 3) {
  grid-column: span 2;
}

.data {
  border-radius: var(--radius-lg);
  background-color: var(--color-bg-secondary);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80px; /* keeps cards looking consistent */
}

.dropDown {
  text-align: right;
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.recentOrders {
  width: 40%;
  padding: var(--content-padding);
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  flex-direction: column;
}

.timelineLine {
  height: 90%;
  width: 6px;
  border-radius: var(--radius-ml);
  background-color: var(--color-muted);
  position: absolute;
  left: calc(var(--content-padding) * 2.55555555);
  top: calc(var(--content-padding) * 6);
}

.recents {
  isolation: isolate;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recentsNumber {
  padding: var(--content-padding);
  background-color: var(--color-bg);
  border-radius: var(--radius-full);
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
}

.recentOrders > h2 {
  margin-bottom: calc(var(--content-padding) * 2.5);
}

.timeNameBox > h2 {
  font-weight: normal;
}

.timeNameBox p {
  color: var(--color-muted);
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 1rem;
}

.editicon {
  margin: 10px;
  padding: 10px;
  background-color: rgba(55, 73, 87, 0.05);
  height: fit-content;
  width: fit-content;
  border-radius: var(--radius-full);
}

.actualPrice {
  color: var(--color-muted);
  text-decoration: line-through;
}

.items,
.item,
.titleWrapAround {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.items {
  width: 100%;
  gap: 7.5rem;
}

.item {
  gap: 2rem;
}

.change {
  padding: 3px 10px;
  border-radius: var(--radius-lg);
  scale: 0.7;
}
.detailsBox {
  width: 100%;
}

.detailsBox > p:first-child {
  font-size: 1.1rem;
  width: 100%;
}

.detailsBox > p:last-child {
  font-size: 0.8rem;
}

.titleWrapAround {
  flex-direction: column;
}

.cardName {
  width: 100%;
}

.popup {
  border: 2px solid var(--color-muted);
  border-radius: var(--radius-ml);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  background-color: var(--color-bg);
  padding: var(--content-padding);
  gap: 1rem;
}

.editModal {
  position: absolute;
  background-color: var(--color-bg-secondary);
  padding: var(--content-padding);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  top: 70%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 80%;
  z-index: 100;
  padding-top: 2rem;
  border-radius: var(--radius-ml);
}

.firstFields,
.lastFields {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.firstFields > input:first-child {
  width: 70%;
}

.firstFields > input:last-child {
  width: 30%;
}

.editModal > input {
  width: 100%;
  margin-bottom: 10px;
}

.lastFields > label {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.lastFields > label > input {
  width: 100%;
}

.lastFields > label:first-child {
  width: 100%;
}

.lastFields > label:last-child {
  width: 100%;
}

.editModal > button {
  background-color: var(--color-theme-green);
  width: calc(100% - (2 * var(--content-padding)));
  text-align: center;
  padding: var(--content-padding);
  border-radius: var(--radius-md);
}

input {
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-muted);
  padding: var(--content-padding);
  border-radius: var(--radius-md);
}
