.usersContainer {
  padding: var(--content-padding);
  padding-right: 0;
  position: relative;
}

.header,
.dropDownTray {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-secondary);
  padding: var(--content-padding);
  border-radius: var(--radius-ml);
}

.dropDownTray {
  width: fit-content;
  gap: var(--content-padding);
}

.dropdown {
  position: relative;
}

.dropdown,
.backButton {
  padding: 5px 10px;
  border-radius: var(--radius-xl);
  background-color: var(--color-bg);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--content-padding);
}

.dropdown p {
  text-transform: capitalize;
}

.dropdown button,
.backButton button {
  border-radius: var(--radius-full);
  width: 30px;
  height: 30px;
  background-color: var(--color-bg-secondary);
  display: grid;
  place-content: center;
}

.backButton {
  border-radius: var(--radius-md);
}

.backButton span {
  rotate: 90deg;
}
.backButton p {
  padding: 5px 10px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  border: 2px solid var(--color-bg);
  padding: 0px var(--content-padding);
  /* background-color: var(--color-bg); */
  border-radius: var(--radius-xl);
  overflow: hidden;
}

.search input {
  /* background-color: var(--color-bg); */
  outline: none;
  border: none;
  /* border: 2px solid red; */
  padding: calc(var(--content-padding) + 3px);
}

.dropdownMenu {
  position: absolute;
  background-color: var(--color-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: var(--content-padding);
  border-radius: var(--radius-md);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
  z-index: 200;
}

.dropdownItem {
  cursor: pointer;
  width: 100%;
  text-transform: capitalize;
  margin-block: var(--content-padding);
}

.createAdminButton,
.dropDownSetterButton,
.muteButton,
.deleteButton {
  padding: 5px 10px;
  border-radius: var(--radius-md);
  background-color: var(--color-theme-red);
  color: white;
  width: 6rem;
  text-wrap: nowrap;
  text-align: center;
}

.dropDownSetterButton {
  background-color: var(--color-theme-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
  color: var(--color-text);
}

.muteButton {
  background-color: var(--color-muted-3);
}

.userRow,
.usersList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: var(--content-padding);
}

.userRow {
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-md);
  padding: var(--content-padding);
  cursor: pointer;
}

.userRow:first-child {
  background-color: transparent;
}

.usersList {
  flex-direction: column;
  /* border: 2px solid red; */
}

.userRow > * {
  width: 100%;
  /* border: 2px solid red; */
}

.userAvatar {
  width: 80px;
  height: 80px;
  border-radius: var(--radius-full);
}

.userAvatarTitle {
  width: 80px;
  text-wrap: nowrap;
}

.userLevel {
  text-transform: capitalize;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--content-padding);
  margin-top: var(--content-padding);
}

.userColumn {
  width: 100%;
  background-color: var(--color-bg-secondary);
  padding: var(--content-padding);
  border-radius: var(--radius-md);
}

.reviewsBox,
.reviewColumn {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.reviewsBox {
  flex-direction: row;
  gap: var(--content-padding);
}
.reviewColumn:last-child {
  width: 100%;
  gap: calc(0.5 * var(--content-padding));
}

.reviewColumn h1 {
  font-size: 3rem;
  margin-block: -5px;
}

.starRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: calc(0.5 * var(--content-padding));
}

.starRating > * {
  width: fit-content;
  font-size: 0.7rem;
}

.reviewBar {
  min-width: 90%;
  height: 10px;
  background-color: var(--color-muted-2);
  border-radius: var(--radius-md);
  position: relative;
  overflow: hidden;
}

.reviewProgress {
  position: absolute;
  background-color: var(--color-muted-3);
  height: 100%;
  width: var(--progress-width);
  border-radius: var(--radius-md);
  top: 0;
  left: 0;
}

.commentsBox {
  width: 100%;
}

.comment {
  max-width: 100%;
  margin-block: var(--content-padding);
}

.commentHeader {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--content-padding);
}

.commentHeader img {
  width: 60px;
  height: 60px;
  border-radius: var(--radius-md);
}

.starFilters {
  margin-block: 2rem;
}

.starFilters,
.starFilterButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
}

.starFilterButton {
  padding: var(--content-padding);
  border-radius: var(--radius-xl);
  scale: 0.8;
}

.profileImages,
.profileImage,
.idImages,
.idImage {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
}

.profileImages {
  justify-content: space-around;
}
.profileImages,
.idImages {
  margin-block: 2rem;
}

.profileImage,
.idImage {
  flex-direction: column;
  text-wrap: nowrap;
}

.profileImage img {
  width: 80px;
  height: 80px;
  border-radius: var(--radius-full);
  background-color: var(--color-muted-1);
}

.idImage img {
  width: 200px;
  height: 150px;
  border-radius: var(--radius-md);
  background-color: var(--color-muted-1);
}

.generalDetails {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--content-padding);
  flex-direction: column;
  padding-inline-start: var(--content-padding);
}

.generalDetails input {
  width: 100%;
  background-color: white;
  border-color: var(--color-muted-1);
}

.labelVerified {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--content-padding);
}

.labelVerified span {
  font-size: 0.5rem;
  padding: 2px 5px;
  background-color: #00acff;
  color: white;
  border-radius: var(--radius-ml);
}

label,
.profileImage p,
.idImage p {
  opacity: 0.8;
}

.createAdminContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--content-padding);
  margin-block: var(--content-padding);
}

.adminCreatorPanel {
  width: 30%;
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-md);
  padding: var(--content-padding);
}

.adminUsersList {
  width: 70% !important;
  height: 60dvh;
  overflow-y: scroll;
}

.adminUsersList .userRow:first-child {
  background-color: var(--color-bg-secondary);
}

.adminUsersList .userRow > * {
  /* border: 2px solid red; */
}

.userRole,
.adminDelete {
  text-align: right;
  text-transform: capitalize;
}

.adminDelete {
  width: fit-content;
  padding: var(--content-padding);
}

.profilePic,
.adminCreationInputs,
.checkBoxesTray,
.checkBox {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: var(--content-padding);
  margin-block: 2rem;
}

.profilePic button {
  display: block;
  border: 5px solid var(--color-theme-green);
  width: fit-content;
  height: fit-content;
  border-radius: var(--radius-full);
  padding: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.4rem;
}

.adminCreationInputs {
  width: 100%;
}

.adminCreationInputs input {
  width: calc(100% - (4 * var(--content-padding)));
  gap: var(--content-padding);
  background-color: var(--color-bg);
  border: none;
}

.checkBoxesTray,
.checkBox {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.checkBoxesTray {
  margin-block: var(--content-padding);
  width: calc(100% - (4 * var(--content-padding)));
}

.checkBox {
  width: fit-content;
}

.addButton {
  width: calc(100% - (4 * var(--content-padding)));
  padding: var(--content-padding);
  text-align: center;
  background-color: var(--color-theme-green);
  border-radius: var(--radius-md);
}
