.adsContainer {
  padding: var(--content-padding);
  padding-right: 0;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
}

.header,
.dropDownTray {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-secondary);
  padding: var(--content-padding);
  border-radius: var(--radius-ml);
}

.dropDownTray {
  width: fit-content;
  gap: var(--content-padding);
}

.dropdown {
  position: relative;
}

.dropdown,
.backButton {
  padding: 5px 10px;
  border-radius: var(--radius-xl);
  background-color: var(--color-bg);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--content-padding);
}

.dropdown p {
  text-transform: capitalize;
}

.dropdown button,
.backButton button {
  /* padding: 5px; */
  border-radius: var(--radius-full);
  width: 30px;
  height: 30px;
  background-color: var(--color-bg-secondary);
  display: grid;
  place-content: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  border: 2px solid var(--color-bg);
  padding: 0px var(--content-padding);
  /* background-color: var(--color-bg); */
  border-radius: var(--radius-xl);
  overflow: hidden;
}

.search input {
  /* background-color: var(--color-bg); */
  outline: none;
  border: none;
  /* border: 2px solid red; */
  padding: calc(var(--content-padding) + 3px);
}

.count {
  width: 100%;
  text-align: right;
  padding-block: var(--content-padding);
}

.adsPreivewTable,
.adRow {
  display: flex;
  justify-content: space-between;
  gap: var(--content-padding);
  flex-direction: column;
  width: 100%;
}

.adInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--content-padding);
}

.adRow {
  flex-direction: row;
  padding: var(--content-padding);
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-ml);
  cursor: pointer;
}

.thumb {
  width: 80px;
  height: 80px;
  border-radius: var(--radius-ml);
}

.time {
  font-size: 0.75rem;
}

.userAvater {
  width: 60px;
  height: 60px;
  border-radius: var(--radius-full);
}

.adSellerInfo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: var(--content-padding);
}

.adSellerUserData {
  font-size: 0.9rem;
  font-weight: lighter;
}

.adSellerUserData span {
  font-weight: 500;
}

.adBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--content-padding);
}

.adDetails {
  width: 100%;
  padding: var(--content-padding);
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: var(--content-padding);
  margin-block: var(--content-padding);
  border-radius: var(--radius-md);
}

.adDetails:first-child {
  width: 40%;
}

.adDetails:nth-child(2) {
  align-items: flex-start;
}

.adDetails:nth-child(2),
.adDetails:nth-child(3) {
  width: 30%;
}

.backButton {
  border-radius: var(--radius-md);
}

.backButton button {
  background-color: transparent;
  rotate: 90deg;
}

.isVerified,
.verified,
.notVerified {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
  padding: 5px 10px;
  border-radius: var(--radius-md);
  font-size: 0.75rem;
}

.verified {
  background-color: var(--color-theme-green);
}

.notVerified {
  background-color: var(--color-theme-red);
}

.headerOne,
.timeVerifiedBox,
.headerTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
}

.headerOne,
.headerTwo {
  width: 100%;
}

.headerTwo li p {
  font-weight: lighter;
  text-wrap: nowrap;
  font-size: 0.75rem;
}

.headerTwo li p span {
  font-weight: 500;
}

.images,
.image {
  display: grid;
}

.images {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--content-padding);
}

.image > * {
  grid-area: 1 / 1; /* put all in same cell */
}

.adImage {
  width: 150px;
  height: 130px;
  border-radius: var(--radius-md);
}

.image span {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: var(--content-padding);
}

.image span button {
  background-color: var(--color-bg-secondary);
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: var(--radius-full);
}

.buttonRack {
  margin-block: 1rem;
}
.buttonRack,
.suspensionRack {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: var(--content-padding);
}

.statusButton {
  width: calc(100% - (2 * var(--content-padding)));
  text-align: center;
  padding: var(--content-padding);
  border-radius: var(--radius-md);
}

.suspend {
  background-color: var(--color-surface);
  color: white;
}

.activate {
  background-color: var(--color-theme-green);
}

.explainSuspension {
  background-color: transparent;
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: var(--content-padding);
  border: 2px solid var(--color-muted);
  border-radius: var(--radius-md);
}

.adDetails:nth-child(2) {
  padding: calc(2 * var(--content-padding));
}

.adDetails:nth-child(2) label,
.adDetails:nth-child(2) input {
  width: 100%;
}

.adDetails:nth-child(2) label {
  padding: var(--content-padding);
}

.adPurposeBox,
.adPurpose {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
}

.adPurpose {
  background-color: white;
  padding: 5px var(--content-padding);
  flex-direction: column;
  align-items: flex-end;
  border-radius: var(--radius-md);
  gap: 0;
}

.adPurpose input {
  width: 100%;
  margin-left: auto;
  scale: 1.5;
  accent-color: var(--color-surface);
  cursor: pointer;
}

.adPurpose label {
  width: 100%;
  text-align: left;
  text-wrap: nowrap;
  padding: 0;
}

.head {
  gap: 1rem;
  display: flex;
  justify-content: space-around;
  padding: calc(2 * var(--content-padding));
  align-items: center;
  flex-direction: column;
}

.head img {
  width: 100px;
  height: 100px;
  border-radius: var(--radius-full);
  border: 5px solid var(--color-theme-green);
  outline: 10px solid var(--color-bg-secondary);
  outline-offset: -13px;
}

.adsBoxSeller {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--content-padding);
  padding: var(--content-padding);
}

.adBoxSeller {
  flex: 1 1 0;
  background-color: var(--color-bg);
  padding: var(--content-padding);
  border-radius: var(--radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 0;
}
.adBoxSeller p {
  text-wrap: nowrap;
  color: var(--color-muted);
  font-size: 0.8rem;
}

.pendingBox {
  background-color: var(--color-bg);
  width: fit-content;
  margin-left: auto;
  padding: var(--content-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: var(--radius-md);
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.pendingBox h3 {
  font-weight: 500;
}
.levelBox {
  width: 100%;
}

.bar {
  width: 100%;
  height: var(--content-padding);
  background-color: var(--color-theme-green);
  border-radius: var(--radius-md);
}

.checkmark {
  /* padding: 5px; */
  background-color: var(--color-theme-green);
  width: 20px;
  height: 20px;
  border-radius: var(--radius-full);
  display: grid;
  place-content: center;
}

.textMark {
  display: flex;
  justify-content: flex-start;
  gap: var(--content-padding);
  align-items: center;
  margin-block: var(--content-padding);
}

.textMark p {
  font-size: 0.7rem;
}

.reviewsBox,
.reviewColumn {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.reviewsBox {
  flex-direction: row;
  margin-left: -3.5rem;
  gap: var(--content-padding);
}
.reviewColumn:last-child {
  width: 100%;
  gap: calc(0.5 * var(--content-padding));
}

.reviewColumn h1 {
  font-size: 3rem;
  margin-block: -5px;
}

.starRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: calc(0.5 * var(--content-padding));
}

.starRating > * {
  width: fit-content;
  font-size: 0.7rem;
}

.reviewBar {
  min-width: 100%;
  height: 10px;
  background-color: var(--color-muted-2);
  border-radius: var(--radius-md);
  position: relative;
  overflow: hidden;
}

.reviewProgress {
  position: absolute;
  background-color: var(--color-muted-3);
  height: 100%;
  width: var(--progress-width);
  border-radius: var(--radius-md);
  top: 0;
  left: 0;
}

.commentsBox {
  width: 100%;
}

.comment {
  max-width: 100%;
  margin-block: var(--content-padding);
}

.commentHeader {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--content-padding);
}

.commentHeader img {
  width: 60px;
  height: 60px;
  border-radius: var(--radius-md);
}

.dropdownMenu {
  position: absolute;
  top: 90%;
  background-color: var(--color-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: var(--content-padding);
  border-radius: var(--radius-md);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
  z-index: 200;
}

.dropdownItem {
  cursor: pointer;
  width: 100%;
  text-transform: capitalize;
  margin-block: var(--content-padding);
}

.dropDownUserSearch {
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-padding);
  padding-inline: var(--content-padding);
  border-radius: var(--radius-xl);
}

.dropDownUserSearch input {
  border: none;
  outline: none;
}
