.adsContainer {
  padding: var(--content-padding);
  padding-right: 0;
}

.header,
.dropDownTray {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-secondary);
  padding: var(--content-padding);
  border-radius: var(--radius-ml);
}

.dropDownTray {
  width: fit-content;
  gap: var(--content-padding);
}

.dropdown {
  padding: 5px 10px;
  border-radius: var(--radius-xl);
  background-color: var(--color-bg);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--content-padding);
}

.dropdown p {
  text-transform: capitalize;
}

.dropdown button {
  /* padding: 5px; */
  border-radius: var(--radius-full);
  width: 30px;
  height: 30px;
  background-color: var(--color-bg-secondary);
  display: grid;
  place-content: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  border: 2px solid var(--color-bg);
  padding: 0px var(--content-padding);
  /* background-color: var(--color-bg); */
  border-radius: var(--radius-xl);
  overflow: hidden;
}

.search input {
  /* background-color: var(--color-bg); */
  outline: none;
  border: none;
  /* border: 2px solid red; */
  padding: calc(var(--content-padding) + 3px);
}
